Alexander Worth <worthalex@myvuw.ac.nz> <worthalex@myvuw.ac.nz>
Alexander Worth <worthalex@myvuw.ac.nz> <worthalex@ecs.vuw.ac.nz>
Alexander Worth <worthalex@myvuw.ac.nz> <worthalexander@protonmail.com>
Alexander Worth <worthalex@myvuw.ac.nz> <--add>
Alexander Worth <worthalex@myvuw.ac.nz> <--replace-all>
Samuel Smith <smithsamu11@ecs.vuw.ac.nz> <samuel.smith@student.onslow.school.nz>
Samuel Smith <smithsamu11@ecs.vuw.ac.nz> <smithsamu11@myvuw.ac.nz>
Ryan Treleaven <trelearyan@ecs.vuw.ac.nz> <ry>
Ryan Treleaven <trelearyan@ecs.vuw.ac.nz> <trelearyan@myvuw.ac.nz> 
